.container-custom {
    min-height: 100vh;
    display: flex;
    align-items: end;
    
    background-image: url('../../assets/cat-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}